{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Inscription</h2>

            {{ form_start(registrationForm) }}
                <div class="mb-3">
                    {{ form_label(registrationForm.firstName) }}
                    {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.firstName) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.lastName) }}
                    {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.lastName) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </div>

                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
            {{ form_end(registrationForm) }}

        </div>
    </div>
</div>
{% endblock %}
